etc/tcpproxy-http.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
  targetNamespace="http://grinder.sourceforge.net/tcpproxy/http/1.0"
  xmlns:tns="http://grinder.sourceforge.net/tcpproxy/http/1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:element name="http-recording" type="tns:HTTPRecordingType">
    <xs:key name="HeadersID">
      <xs:selector xpath="commonHeaders" />
      <xs:field xpath="headersID" />
    </xs:key>

    <xs:keyref name="HeadersIDRef" refer="tns:HeadersID">
      <xs:selector xpath="request/headers" />
      <xs:field xpath="extends" />
    </xs:keyref>
  </xs:element>

  <xs:complexType name="HTTPRecordingType">
    <xs:sequence>
      <xs:element name="metadata">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="version" type="xs:normalizedString" />
            <xs:element name="time" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="request" type="tns:RequestType" />
        <xs:element name="commonHeaders" type="tns:CommonHeadersType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element name="time" type="xs:dateTime" />
      <xs:element name="method">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="DELETE" />
            <xs:enumeration value="GET" />
            <xs:enumeration value="HEAD" />
            <xs:enumeration value="OPTIONS" />
            <xs:enumeration value="POST" />
            <xs:enumeration value="PUT" />
            <xs:enumeration value="TRACE" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="url" type="tns:URLType" />
      <xs:element name="headers" type="tns:RequestHeadersType" />
      <xs:element name="shortDescription" type="xs:string"/>
      <xs:element name="sleeptime" type="xs:unsignedInt" minOccurs="0" />
      <xs:element name="body" type="tns:BodyType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="requestID" type="xs:unsignedInt" />
  </xs:complexType>

  <xs:complexType name="AbstractHeadersType" abstract="true">
    <xs:sequence>
      <xs:element name="header" type="tns:HeaderType" minOccurs="0"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CommonHeadersType">
    <xs:complexContent>
      <xs:extension base="tns:AbstractHeadersType">
        <xs:attribute name="headersID" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RequestHeadersType">
    <xs:complexContent>
      <xs:extension base="tns:AbstractHeadersType">
        <xs:attribute name="extends" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HeaderType">
    <xs:complexContent>
      <xs:extension base="tns:NameValueType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="URLType">
    <xs:sequence>
      <xs:element name="scheme">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="http" />
            <xs:enumeration value="https" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="host-and-port">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="" /><!-- TODO  -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="path" type="xs:normalizedString" />
      <xs:element name="query-string" type="tns:QueryStringType"
        minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="QueryStringType">
    <xs:choice>
      <xs:element name="unparsed" type="xs:normalizedString" />
      <xs:element name="parsed" type="tns:ParsedQueryStringType" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="ParsedQueryStringType">
    <xs:sequence>
      <xs:element name="parameter" type="tns:ParameterType"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParameterType">
    <xs:complexContent>
      <xs:extension base="tns:NameValueType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="contentType" type="xs:normalizedString" />
      <xs:choice>
        <xs:element name="form" type="tns:FormDataType" />
        <xs:element name="binary" type="xs:base64Binary" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FormDataType">
    <xs:sequence>
      <xs:element name="form-field" type="tns:FormFieldType"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FormFieldType">
    <xs:complexContent>
      <xs:extension base="tns:NameValueType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NameValueType" abstract="true">
    <xs:attribute name="name" type="xs:token"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>
</xs:schema>